@media screen and (max-width: 1399px){
    .wallet a {
        font-size: 20px;
    }
}
@media screen and (max-width: 1200px){
    .owl-nav .owl-prev {
        left: 0 !important;
    }
    .owl-nav .owl-next {
        right: 0 !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1400px){
    .pages-title , .logo-form{
        margin-bottom: 10px;
    }
    .block-customer-login .field:not(.phone) input {
        height: 32px;
    }
    .actions-toolbar {
        margin: 5px 0 20px;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1366px){
    .login-form .flex-end-center {
        align-items: center;
    }

}
@media screen and (min-width: 1024px) and (max-width: 1200px){
    .nav-top li {
        margin-right: 30px;
    }
    .login-form {
        padding-top: 20px;
        position: static;
    }
    .block-customer-login {
        border: 1px solid #ccc;
    }
    .login-form .row > div {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .pd-200  {
        padding: 0 100px;
    }
    .login-form .offset-md-8 {
        margin-left: 25%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .nav-top li , .nav-top{
        margin-right: 0;
    }
    .nav-top li a {
        font-size: 16px;
    }
    .login {
        -webkit-flex: 0 0 232px;
        max-width: 232px;
    }
    .nav-top ul {
        justify-content: space-between;
    }
    .login-form .row > div {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .login-form {
        padding-top: 20px;
        position: static;
    }
    .block-customer-login {
        border: 1px solid #ccc;
    }
    .why-choose a {
        padding: 10px 20px;
    }
    .dowload-peko a {
        display: inline-block;
        width: 40%;
    }
    .dowload-peko {
        padding: 20px 0;
    }
    .dowload-peko span {
        font-size: 22px;
    }
    .last-news {
        padding: 20px 0;
    }
    .how-peko-text > p {
        font-size: 32px;
        margin-top: 20px;
    }
    .how-peko-text > p > span {
        font-size: 50px;
        line-height: normal;
    }
    .social {
        display: flex;
    }
    .form-sign-up {
        padding: 15px 0;
    }
    .pd-200  {
        padding: 0 50px;
    }
}

@media screen and (min-width: 768px){
    .visible-mobile {
        display: none;
    }
    .visible-desktop {
        display: block;
    }
    .account-nav {
        display: none;
    }

}
@media screen and (max-width: 767px){
    .visible-mobile {
        display: block;
    }
    .visible-desktop {
        display: none;
    }
    .pd-60 {
        padding: 30px 0;
    }

    /*----------------------
        Menu mobile
     */
    .cd-main-content {
        min-height: 100%;
        position: relative;
        z-index: 2;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s;
        background: #fff;
    }

    .cd-main-content.lateral-menu-is-open {
        -webkit-transform: translateX(-260px);
        -moz-transform: translateX(-260px);
        -ms-transform: translateX(-260px);
        -o-transform: translateX(-260px);
        transform: translateX(-260px);
    }
    header {

        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 3;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
    header.lateral-menu-is-open {
        -webkit-transform: translateX(-260px);
        -moz-transform: translateX(-260px);
        -ms-transform: translateX(-260px);
        -o-transform: translateX(-260px);
        transform: translateX(-260px);
    }
    header.is-fixed {
        position: fixed;
    }
    #cd-logo {
        display: block;
        float: left;
        margin: 12px 0 0 20px;
    }
    #cd-logo img {
        display: block;

    }
    #cd-top-nav {
        position: absolute;
        top: 0;
        right: 120px;
        height: 100%;
        display: none;
    }
    #cd-top-nav ul {
        height: 100%;
        padding-top: 18px;
    }
    #cd-top-nav li {
        display: inline-block;
        margin-right: 1em;
    }
    #cd-top-nav a {
        display: inline-block;
        padding: .5em;
        color: #FFF;
        text-transform: uppercase;
        font-weight: 600;
    }
    #cd-top-nav a.current {
        background-color: #242e30;
    }
    .no-touch #cd-top-nav a:hover {
        color: rgba(255, 255, 255, 0.7);
    }
    #cd-menu-trigger {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30px;
    }
    #cd-menu-trigger .cd-menu-text {
        height: 100%;
        text-transform: uppercase;
        color: #47337a;
        font-weight: 600;
        display: none;
    }
    #cd-menu-trigger .cd-menu-icon {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 24px;
        height: 2px;
        background-color: #47337a;
    }
    #cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #47337a;
        left: 0;
    }
    #cd-menu-trigger .cd-menu-icon::before {
        bottom: 5px;
    }
    #cd-menu-trigger .cd-menu-icon::after {
        top: 5px;
    }
    #cd-menu-trigger.is-clicked .cd-menu-icon {
        background-color: rgba(255, 255, 255, 0);
    }
    #cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
        background-color: #47337a;
    }
    #cd-menu-trigger.is-clicked .cd-menu-icon::before {
        bottom: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #cd-menu-trigger.is-clicked .cd-menu-icon::after {
        top: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #cd-lateral-nav {
        position: fixed;
        height: 100%;
        right: 0;
        top: 0;
        visibility: hidden;
        z-index: 1;
        width: 260px;
        background-color: #47337a;
        overflow-y: auto;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
        -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
        transition: transform .4s 0s, visibility 0s .4s;
        /* this creates the subtle slide in animation of the navigation */
        -webkit-transform: translateX(60px);
        -moz-transform: translateX(60px);
        -ms-transform: translateX(60px);
        -o-transform: translateX(60px);
        transform: translateX(60px);
    }
    #cd-lateral-nav .cd-navigation {
        margin: 10px 0 16px
    }
    #cd-lateral-nav .sub-menu {
        padding: 0 10px 0 15px;
        display: none;
    }
    #cd-lateral-nav a {
        display: block;
        line-height: 2em;
        padding: 0 16px 0 32px;
        color: #fff;
        text-transform: uppercase;
    }
    #cd-lateral-nav li {
        margin-bottom: 10px;
    }
    #cd-lateral-nav a.current {
        background-color: #3a4a4d;
        color: #FFF;
    }
    .no-touch #cd-lateral-nav a:hover {
        color: #FFF;
    }



    #cd-lateral-nav.lateral-menu-is-open {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
        -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
        -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
        transition: transform .4s 0s, visibility 0s 0s;
        /* smooth the scrolling on touch devices - webkit browsers */
        -webkit-overflow-scrolling: touch;
    }
    /* style menu items which have a submenu  */
    #cd-lateral-nav .item-has-children > a {
        position: relative;
        text-transform: uppercase;
        /* this is the right arrow to show that the item has a submenu  */
    }
    .arrow img {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    .arrow.submenu-open img {
        -webkit-transform: translateY(-50%) rotate(90deg);
        -moz-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
        -o-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
    }

    .arrow {
        border: 1px solid #fff;
        display: inline-flex;
        padding-top: 11px;
        justify-content: center;
        width: 32px;
        height: 24px;
        margin-right: 10px;
    }
    .item-has-children {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .search {
        margin: 15px;
    }
    .header {
        padding: 10px 0;
    }
    .header .logo img {
        height: 80px;
    }
    .nav-mobile {
        margin-top: 15px;
        padding-right: 50px;
    }
    header .header-nav, header .login {
        display: none;
    }
    .wallet {
        padding: 20px 0 0;
    }
    .wallet h1 , .wallet h1 span{
        color: #47337a;
        font-size: 30px;
        text-shadow: none;
    }
    .how-peko {
        padding: 20px 0;
    }
    .how-peko-text h3 {
        font-size: 32px;
    }
    .how-peko-text {
        padding: 0;
    }
    .how-step {
        margin-top: 20px;
    }
    .how-peko-text > p {
        font-size: 32px;
        margin-top: 20px;
    }
    .how-peko-text > p > span {
        font-size: 34px;
        line-height: normal;
    }
    .how-abs {
        padding: 20px 0;
        position: static;
    }
    .why-choose .flex-center-center {
        flex-wrap: wrap;
    }
    .why-choose a {
        padding: 10px 20px;
    }
    .how-abs h2 {
        font-size: 32px;
    }
    .how-abs .col-md-3 {
        margin-top: 15px;
    }
    .dowload-peko {
        padding: 20px 0;
    }
    .dowload-peko .col-md-6 {
        text-align: center;
    }
    .dowload-peko a {
        display: inline-block;
        margin-top: 15px;
    }
    .logo-footer {
        margin-bottom: 15px;
        text-align: center;
    }
    .social {
        margin-top: 15px;
        text-align: left;
    }
    .header-right {
        position: relative;
    }
    .account-nav {
        background: #47337a;
        position: absolute;
        right: 0;
        z-index: 2;
        width: 150px;
        text-align: center;
    }
    .account-nav {
        display: none;
    }
    .account-nav.visible {
        display: block;
    }
    .account-nav a {
        border-bottom: 1px solid #fff;
        color: #fff;
        display: inline-block;
        padding: 7px 0;
        width: 100%;
    }
    .account-nav ul li:last-child a {
        border: none;
    }
    .nav-account i {
        font-size: 18px;
    }
    .title-page {
        font-size: 32px;
    }
    .why-join {
        padding: 20px 0;
    }
    .pd-200 {
        padding: 0;
    }
    .how-slider  {
        text-align: center;
    }
    .how-slider .flex-center {
        justify-content: center;
    }
    .work-text {
        margin-top: 15px;
    }
    .join-peko a {
        font-size: 17px;
    }
}
@media screen and (min-width: 568px) and (max-width: 767px){
    .how-abs .col-md-3 , .form-for-work .col-md-6 {
        width: 50%;
    }
    .why-join .col-md-4 {
        width: 33.33%;
    }

}
@media screen and (max-width: 567px){
    .why-choose span {
        margin: 0 0 10px 0;
        font-size: 32px;
    }
    .dowload-peko .col-md-6 > img {
        display: none;
    }
    .dowload-peko a {
        margin-right: 20px ;
    }
}