
/*@font-face {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*src: url('../fonts/Roboto/Bold/Roboto-Bold.eot');*/
    /*src: url('../fonts/Roboto/Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/Roboto/Bold/Roboto-Bold.woff2') format('woff2'),*/
    /*url('../fonts/Roboto/Bold/Roboto-Bold.woff') format('woff'),*/
    /*url('../fonts/Roboto/Bold/Roboto-Bold.ttf') format('truetype'),*/
    /*url('../fonts/Roboto/Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
/*}*/


/*@font-face {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*src: url('../fonts/Roboto/Regular/Roboto-Regular.eot');*/
    /*src: url('../fonts/Roboto/Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/Roboto/Regular/Roboto-Regular.woff2') format('woff2'),*/
    /*url('../fonts/Roboto/Regular/Roboto-Regular.woff') format('woff'),*/
    /*url('../fonts/Roboto/Regular/Roboto-Regular.ttf') format('truetype'),*/
    /*url('../fonts/Roboto/Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*src: url('../fonts/Roboto/Light/Roboto-Light.eot');*/
    /*src: url('../fonts/Roboto/Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/Roboto/Light/Roboto-Light.woff2') format('woff2'),*/
    /*url('../fonts/Roboto/Light/Roboto-Light.woff') format('woff'),*/
    /*url('../fonts/Roboto/Light/Roboto-Light.ttf') format('truetype'),*/
    /*url('../fonts/Roboto/Light/Roboto-Light.svg#Roboto-Light') format('svg');*/
    /*font-weight: 300;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*src: url('../fonts/Roboto/Medium/Roboto-Medium.eot');*/
    /*src: url('../fonts/Roboto/Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/Roboto/Medium/Roboto-Medium.woff2') format('woff2'),*/
    /*url('../fonts/Roboto/Medium/Roboto-Medium.woff') format('woff'),*/
    /*url('../fonts/Roboto/Medium/Roboto-Medium.ttf') format('truetype'),*/
    /*url('../fonts/Roboto/Medium/Roboto-Medium.svg#Roboto-Medium') format('svg');*/
    /*font-weight: 500;*/
    /*font-style: normal;*/
/*}*/
@font-face {
    font-family: 'UTM BryantLG';
    src: url('../fonts/Utm-Bryan/UTM BryantLG.eot');
    src: url('../fonts/Utm-Bryan/UTM BryantLG.woff2') format('woff2'),
    url('../fonts/Utm-Bryan/UTM BryantLG.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTMBryantLG';
    src: url('../fonts/Utm-Bryan/UTMBryantLG.woff') format('woff'),
    url('../fonts/Utm-Bryan/UTMBryantLG.ttf') format('truetype'),
    url('../fonts/Utm-Bryan/UTMBryantLG.svg#UTMBryantLG') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTMBryantLG';
    src: url('../fonts/Utm-Bryan/UTM BryantLG_bold.eot');
    src: url('../fonts/Utm-Bryan/UTM BryantLG_bold.woff2') format('woff2'),
    url('../fonts/Utm-Bryan/UTM BryantLG_bold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'UTMBryantLG';
    src: url('../fonts/Utm-Bryan/UTMBryantLGBold.woff') format('woff'),
    url('../fonts/Utm-Bryan/UTMBryantLGBold.ttf') format('truetype'),
    url('../fonts/Utm-Bryan/UTMBryantLGBold.svg#UTMBryantLGBold') format('svg');
    font-weight: bold;
    font-style: normal;
}



/*.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4,*/
/*.col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10,*/
/*.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,*/
/*.col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11,*/
/*.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,*/
/*.col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,*/
/*.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,*/
/*.col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2,*/
/*.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {*/
    /*padding: 0 15px;*/
/*}*/
/*.row {*/
    /*margin: 0 -15px;*/
/*}*/

html, body, div, dl, dt, dd, ul,  h1, h2, h3,  pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
body {
    font-family: 'UTMBryantLG';
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
ul {
    padding: 0; margin: 0;
}
ul, li {
    list-style: none
}
button:focus , input:focus, textarea:focus  {
    outline: none
}
span {
    display: inline-block
}
a{
    color: #47337a;
}
a:hover , a:focus{
    text-decoration: none;
    color:  #e6ba06 !important;
    transition: all 0.4s ease;
}

.container{
    max-width: 1170px;
    width: 100%;
}
body img{
    max-width: 100%;
    transition: all ease 0.4s;
}
input, select{
    transition: all ease 0.4s;
}
textarea{
    border: 1px solid #000;
    min-height: 116px;
    padding: 15px;
}
button{
    cursor: pointer;
    transition: 0.3s all ease;
}

iframe{
    max-width: 100%;
    width: 100%;
}
.btn{
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 7px 24px;
    border-radius: 12px;
    transition: 0.3s all ease;
}
.btn:hover{
    background: #fff;
    color: #000;
}
body .flex {
    display: flex;
    display: -webkit-flex;
}
body .flex-center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
body .flex-center-center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
body .flex-center-end {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-end;
}
.flex-center-start {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
}
body .flex-center-between {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}
body .inflex-center-center {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    justify-content: center;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.pd-60 {
    padding: 60px 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #e8aa15;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #e8aa15;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #e8aa15;
}
:-moz-placeholder { /* Firefox 18- */
    color: #e8aa15;
}

.search form {
    display: flex;
    display: -webkit-flex;
}
.search form input,
.search form button {
    background: #2e3343;
    border: solid 1px #e8aa15;
    height: 40px;
}
.search form input {
    border-right: none;
    border-radius: 20px 0 0 20px;
    color: #fff;
    transition: all ease 0.5s;
    width: 100%;
}
.search form button {
    color: #e8aa15;
    border-left: none;
    border-radius: 0 20px 20px 0;
    width: 30px;
}

.slider-general.owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
}
.slider-general.owl-carousel .owl-nav {
    display: block !important;
}
.slider-general.owl-carousel .owl-nav > div {
    position: absolute;
    top: 45%;
}
.slider-general.owl-carousel .owl-next {
    right: 0;
}
.slider-general.owl-carousel .owl-prev {
    left: 0;
}
/*-----------Style------------*/


/*-----------header------------*/
.header {
    padding: 30px 0;
}
.login {
    flex:  0 0 260px;
    -webkit-flex:  0 0 260px;
    max-width: 260px;
    width: 100%;
}
.nav-top {
    margin-right: 30px;
    width: 100%;
}
.langue li:first-child:after {
    content: '|';
    margin: 0 10px;
}
.langue a {
    color: #9e9e9e;
}
.langue .active a {
    color: #47337a;
}
header .header-nav {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    margin-top: 35px;
}
.nav-top li {
    /*margin-right: 50px;*/
    margin-right: 20px;
}
.nav-top li:last-child {
    margin-right: 0;
}
.nav-top li a {
    font-size: 20px;
    font-weight: bold;
}
.login-image {
    margin-right: 15px;
}
.login-image img {
    border-radius: 50%;
    height: 34px;
    object-fit: cover;
    width: 34px;
}
.login-link a {
    font-weight: bold;
    text-transform: uppercase;
}


/*-----------index------------*/
.how-peko {
    padding-top: 60px;
}
.how-peko-text {
    height: 100%;
    padding-top: 40px;
}
.how-peko-text h3 {
    color: #47337a;
    font-size: 50px;
    font-weight: bold;
}
.how-step {
    margin-top: 40px;
}
.how-step span {
    background: #47337a;
    border-radius: 50%;
    color: #fff;
    font-size: 39px;
    font-weight: bold;
    margin-right: 30px;
    height: 62px;
    flex: 0 0 62px;
    -webkit-flex: 0 0 62px;
    width: 62px;
}
.how-text {
    font-size: 20px;
    font-weight: bold;
}
.bg-y {
    background: #e5bb20 !important;
}
.how-peko-text > p {
    font-size: 42px;
    font-weight: bold;
    margin-top: 80px;
    text-align: right;
}
.how-peko-text > p > span {
    color: #e6ba06;
    font-size: 111px;
    line-height: 85px;
}
.why-choose {
    background-color: #e6ba06;
    padding: 40px 0;
}
.why-choose span {
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    margin-right: 40px;
}
.why-choose a {
    background-color: #47337a;
    border: 5px solid #47337a;
    border-radius: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 60px;
    text-transform: uppercase;
}
.why-choose a:hover {
    color: #47337a !important;
    background: transparent;
}
.ser {
    text-align: center;
}
.ser h6 {
    color: #47337a;
    font-weight: bold;
    margin: 15px 0;
}
.how-abs {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.how-abs h2{
    color: #47337a;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}
.dowload-peko {
    padding: 60px 0;
}
.dowload-peko span {
    color: #47337a;
    font-size: 29px;
    font-weight: bold;
    margin: 0 20px;
}
.dowload-peko a:first-child {
    margin-right: 20px;
}
.last-news {
    padding: 40px 0;
}
.last-news h2 {
    color: #47337a;
    font-size: 34.7px;
    font-weight: bold;
    margin-bottom: 20px;
}
.news-slider {
    padding: 0 60px;
}
.news-item > a img {
    width: 100% !important;
}
.news-item p {
    margin-top: 15px;
}
.news-item p a {
    font-weight: bold;
}
.actions-toolbar > p {
    margin-top: 10px;
}
.captcha {
    margin: 15px 0;
}
.flex-end-center {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    justify-content: center;
}
.height-100 {
    height: 100%;
}
.wallet {
    padding-bottom: 40px;
}
.wallet h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.08;
    color: #ffffff;
    text-shadow: 1.8px 0.9px 6.1px #404040;
}
.wallet h1 span {
    font-size: 77px;
}
.wallet a {
    background: #47337a;
    border-radius: 26px;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 20px;
    max-width: 250px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}


/*-----------for work page------------*/
.form-sign-up {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
}
.form-sign-up input {
    border: 1px solid #ccc;
    height: 40px;
    width: 100%;
}
.form-sign-up .col-md-5 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.form-sign-up .form-gr {
    margin-bottom: 15px;
}
.form-sign-up .form-gr:last-child {
    margin-bottom: 0;
}
.join-peko {
    padding: 30px 0;
}
.join-peko a {
    border-radius: 20px;
    background-color: #e6ba06;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    height: 70px;
    text-transform: uppercase;
    width: 100%;
}
.join-peko a:hover {
    color: #fff !important;
}
.join-peko p {
    color: #47337a;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
}
.how-inner {
    background: #47337a;
    padding: 30px 0;
}
.pd-200 {
    padding: 0 200px;
}
.work-text, .work-text h6 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.work-text h6 span {
    background-color: #ffffff;
    border-radius: 50%;
    color: #47337a;
    font-size: 33px;
    margin-left: 15px;
    width: 49px;
    height: 49px;
}
.how-slider .owl-next {
    right: -60px !important;
}
.how-slider .owl-prev {
    left: -60px !important;
}
.title-page {
    color: #47337a;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.why-join {
    padding: 60px 0;
}
.why-item {
    padding: 15px 20px;
}
.why-item p {
    color: #47337a;
    margin-top: 20px;
}
.height-gen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 94px;
}
.img-hover {
    display: none;
}
.img-nor ,
._link:hover .img-nor {
    display: inline-block;
}
.active .img-hover ,
._link:hover .img-hover {
    display: inline-block;
}
.active .img-nor ,
._link:hover .img-nor {
    display: none;
}
._link.active, ._link:hover {
    background-color: #47337a;
    color: #fff !important;
}
.pages-choose--link {
    display: flex;
    align-items: center;
    justify-content: center;
}
._link {
    border: solid 1px #47337a;
    border-radius: 50%;
    height: 194px;
    width: 194px;
}
._link span {
    display: inline-flex;
    justify-content: center;
    width: 100%;

}
.link_detail {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
._link.customer {
    margin-left: -40px;
}
.choose-us {
    padding-bottom: 40px;
}
.choose-us h2 {
    font-size: 45px;
    line-height: 1.05;
    color: #e6ba06;
    font-weight: bold;
    margin: 20px 0 10px;
    text-transform: uppercase;
}
.choose-us h1 {
    border-top: 3px solid #47337a;
    padding-top: 60px;
}
.guide-subtitle {
    font-size: 35px;
    font-weight: bold;
    color: #47337a;
    text-transform: uppercase;
}
.reach-customer {
    background: #47337a;
    color: #fff;
    padding: 60px 0;
}
.reach-customer--item h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
}
.reach-customer .btn-signup {
    background: #e6ba06;
    border-radius: 18px;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
}
.reach-customer .btn-signup:hover {
    color: #fff !important;
}
.reach-customer .actions {
    margin-top: 40px;
    text-align: center;
}

/*-----------for work page------------*/

.form-for-work {
    padding-top: 60px;
}
.fieldset-signup legend{
    color: #47337a;
    font-size: 46px;
    margin-bottom: 20px;

}

.fieldset-signup .field{
    padding-left: 4px;
    margin-bottom: 12px;
    max-width: 310px;
}

.fieldset-signup .field label{
    color: #333;
    display: block;
    font-size: 13px;
    margin-bottom: 3px;

}

.fieldset-signup .field.required label:after{
    content: '*';
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 18px;
    line-height: 0;

}
.fieldset-signup .field input,
.fieldset-signup .field select{
    height: 22px;
    width: 100%;
    font-size: 13px;
}
.fieldset-signup .field select{
    height: 25px;

}

.fieldset-signup .btn.btn-submit{
    background: #47337a;
    color: #fff;
    text-transform: uppercase;
    font-size: 19px;
    border: 1px solid #47337a;
    min-width: 142px;
    margin: 17px 0 20px;

}
.form-work-text p {
    font-size: 22px;
    font-weight: bold;
    color: #47337a;
}
.form-work-text > a {
    display: inline-block;
    margin: 20px 20px 40px 0;
}
@media only screen and (max-width: 567px){
    .fieldset-signup legend{
        font-size: 40px;
    }
}

    /*-----------sigup page------------*/
input{
    padding: 0 15px;
    height: 40px;
}



.banner-slider{
    text-align: center;
}

.banner-slider .owl-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.banner-slider .owl-dots span {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}
.banner-slider .owl-dot {
    margin-right: 10px;
}
.banner-slider .owl-dot.active span {
    background: #fff;
}
.block-customer-login{
    background: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    text-align: center;
}

.logo-form{
    max-width: 57px;
    margin-bottom: 20px;
}

.pages-title{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
}

.pages-title:before{
    border: 0.5px solid #ccc;
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;

}

.pages-title span{
    display: inline-block;
    padding: 0 15px;
    background: #fff;
    z-index: 9;
    position: relative;
}

.block-customer-login .field{
    margin-bottom: 15px;
}

.block-customer-login .field label{
    margin-right: 10px;
    width: 90px;
    display: inline-block;
}

.block-customer-login .field:not(.phone){
    text-align: left;
    display: flex;
    align-items: center;


}

.block-customer-login .field:not(.phone) input{
    border: 1px solid #ccc;
    width: calc(100% - 90px);
}

.phone input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
    font-size: 13px;
}
.phone input::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
    font-size: 13px;
}
.phone input:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
    font-size: 13px;
}
.phone input:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
    font-size: 13px;
}

.block-customer-login .field.phone{
    position: relative;
    border: 1px solid #ccc;
    height: 42px;
    padding-left: 5px;
}

.block-customer-login .field.phone input{
    border: 0;
    padding-left: 90px;
    width: 100%;
}

.block-customer-login .phone__title{
    position: absolute;
    top: 7px;
    left: 10px;
}
.country {
    align-items: center;
    justify-content: space-around;
    width: 80px;
}
#show-country {
    display: flex;
    align-items: center;
}
#show-country span{
    height: 18px;
    width: 18px;
}
#show-country .sing {
    background: url("../images/icon/country-sing.png") no-repeat center center;
}
#show-country .vn {
    background: url("../images/icon/country-vn.png") no-repeat center center;
}
.btn.submit{
    border-radius: 20px;
    background: #47337a;
    border: 1px solid #47337a;
    line-height: 40px;
    min-width: 134px;
    padding: 0 15px;
    font-size: 18px;
    text-transform: uppercase;
}
.country select {
    color: #666;
    border: none;
    height: 100%;
}
.country select:focus {
    outline: none;
}
.actions-toolbar{
    text-align: right;
    margin: 5px 0 30px;
}

.pslogin-login .ps-social{
    line-height: 40px;
    margin-bottom: 14px;
    display: block;
    color: #fff;
    text-align: left;
    display: flex;
}

.login-facebook{
    background: #3b5998;
}

.login-facebook .pslogin-icon{
    background: #354f88;

}

.login-google{
    background: #de4c34;
}

.login-google .pslogin-icon{
    background: #ce3e26;

}

.pslogin-icon{
    width: 47px;
    text-align: center;
}

.pslogin-detail{
    width: calc(100% - 47px);
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
.country {
    bottom: 0;
    left: 0;
    top: 0;
}

._title{
    color: #47337a;
    font-weight: bold;

}

.for-work__title{
    font-size: 39px;
}

.for-work--title .btn.btn-large{
    background: #47337a;
    border-radius: 20px;
    color: #fff;
    font-size: 30px;
    min-width: 385px;
    text-transform: uppercase;
}

.banner-for-work{
    text-align: center;
    position: relative;
    margin: 0 0 30px;
}

.content-bn{
    color: #ffffff;
    text-shadow: 0px 1px 2.3px #404040;
    max-width: 840px;
    position: absolute;
    bottom: 40px;
    font-size: 34px;
    margin: 0 auto;
    left: 0;
    right: 0;
    line-height: 43px;
    padding: 0 15px;
}
.peko-d{
    border-top: 3px solid #47337a;
    padding: 40px 0;
}
.header.header-defe .header-nav{
    margin-top: 15px;
}
.flex-end-around {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.header-defe .login {
    flex: 0 0 160px;
    -webkit-flex: 0 0 160px;
    max-width: 160px;
}
.txt-y {
    color: #e5bb20;
}
@media only screen and (max-width: 767px){
    .block-customer-login{
        margin: 20px auto;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        max-width: 390px;

    }

    .content-bn{
        font-size: 30px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 567px){
    .fieldset-signup legend{
        font-size: 40px;
    }

    .content-bn{
        position: static;
        color: #333;
        font-size: 20px;
        line-height: 24px;
        margin-top: 15px;
    }

    .for-work--title .btn.btn-large{
        min-width: 100%;
        margin-top: 15px;
    }

    .for-work__title{
        font-size: 32px;
    }

}


@media only screen and (min-width: 768px){

    .for-work--title{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .login-form{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
    }

    .login-form .col-md-4.offset-md-8{
        padding: 0;

    }
}


/*-----------footer------------*/
.footer {
    border-top: 3px solid #e5bb20;
    padding: 30px 0;
}
.footer-info {
    color: #47337a;
    text-transform: uppercase;
}
.footer-info h2 {
    font-size: 20px;
    font-weight: bold;
}
.footer-info i {
    margin-right: 20px;
    width: 16px;
}
.footer-info p {
    margin-top: 10px;
}
.social {
    text-align: right;
}
.social a.fa {
    background: #47337a;
    border-radius: 50%;
    color: #fff;
    margin-left: 15px;
    height: 37px;
    width: 37px;
}
.social a:hover,
.social a:focus {
    background: #e6ba06;
    color: #fff !important;
}
.how-peko-serves > img {
    width: 100%;
}

.hide{
    display: none;
}

.btn-signupX{
    background: #47337a;
    border-radius: 26px;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 20px;
    max-width: 400px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

/*---------------Bo sung trang partner----------------*/
.mgb-20 {
    margin: 0 0 20px 0 !important;
}
.bg-t {
    background: #47337a;
    padding: 30px 0;
}
.bg-t .why-item p {
    color: #fff;
}
.txt-v {
    color: #e6ba06 !important;
    font-size: 25px;
}
.apply-peko {
    padding: 30px 0;
}
.btn.btn-large{
    background: #47337a;
    border-radius: 20px;
    color: #fff;
    font-size: 30px;
    min-width: 385px;
    text-transform: uppercase;
}

.apply-form input, .apply-form textarea,
.apply-form select {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 40px;
    padding: 5px 10px;
    width: 100%;
}
.apply-form ::-webkit-input-placeholder , .apply-form select{ /* Chrome/Opera/Safari */
    color: #adadad;
}
.apply-form ::-moz-placeholder { /* Firefox 19+ */
    color: #adadad;
}
.apply-form :-ms-input-placeholder { /* IE 10+ */
    color: #adadad;
}
.apply-form :-moz-placeholder { /* Firefox 18- */
    color: #adadad;
}
.apply-form .btn.btn-large {
    margin-top: 20px;
}